/* PHASE 5: Cats */


.content-header{
	z-index:0;
	position:relative;
	height: 200px;
  background-image: url("../shared/cats.jpg");
	background-size:100%; /* lets image stretch to canvas width*/
  background-repeat: no-repeat;
  border-bottom: #ccc 1px solid;
}

.content-header > h1{
	position: absolute;
	bottom: 20px;
	left: 240px;
	color: #fff;
	font-size:36px;
	font-weight: 300;
	line-height:1;
	text-align: center;
	text-shadow: #000 0 0 10px;
}

.add-friend-button{
	position:absolute;
	bottom: 20px;
	font-weight:bold;
	right:20px;
	border-radius:5px;
	background:#fff;
	padding:10px 20px;
	border: 1px solid black;
}